<h3>{% trans into language %}That's okay, it happens! Click on the link below to reset your password.{% endtrans %}</h3>

<a href="{{ url }}/{{ language ? language ~ '/' : '' }}account/recovery/{{ token }}">
    {{ url }}/{{ language ? language ~ '/' : '' }}account/recovery/{{ token }}
</a>

<p>{% trans into language %}Best regards{% endtrans %}</p>