<h3>Comment reported</h3>

<p><b>Reported by:</b> {{ reporter.name }}, {{ reporter.email }}</p>
<p><b>Reason:</b> {{ reason }}</p>
<p><b>Message:</b> {{ message }}</p>
<br>
<p><b>Reported comment:</b> {{ comment }}</p>
<p><b>Author of comment:</b> {{ comment.author.name }}</p>
<p><b>URL:</b> {{ url }}</p>
