{# <h1>Welcome {{ email.toName }}!</h1> #}
<h1>Welcome!</h1>

<a href="{{ url }}/password/recovery/{{ token }}">Click here to update password</a>
{#todo <a href="{{ url }}/password/recovery/{{ token }}">Click here to update password</a>#}